<!DOCTYPE html>
<html>
<html prefix="og: http://ogp.me/ns#">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="PaperGenie is a previous year examinations paper portal exclusive to students of NIT Surat.">
  <meta property="og:title" content="PaperGenie | WebDev Labs">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://papergenie.herokuapp.com/images/fb-icon.png">
  <meta property="og:url" content="http://papergenie.herokuapp.com">
  <meta property="og:description" content="PaperGenie is a previous year examinations paper portal exclusive to students of NIT Surat.">
  <meta name="author" content="WebDev Labs, NIT Surat">
  <meta http-equiv="cache-control" content="public" />
  <meta http-equiv="expires" content="Mon, 24 August 2015, 00:00:00 GMT" />
  <meta name="keywords" content="PaperGenie, Previous Year Examination Papers, Web Portal, SVNIT, NIT Surat, WebDev Labs"/>
	<title>PaperGenie | WebDev Labs</title>
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

	<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
	<script type="text/javascript" src="/javascripts/home.js"></script>
	
  </head>

  


  <body style="background-color:#132157">
     
	<div class="parallax-container">
		<div class="row"><div class="col m12 l12 s12 center" style="padding-top:20px"><img class="responsive-img"  src="/images/svnit.png"></div></div>
		<div class="row"><div class="col m12 l12 s12 center"><img class="responsive-img"  src="/images/papgenlogo.png"></div></div>
		<div class="row"><div class="col m12 l12 s12 center"><img class="responsive-img"  src="/images/info.png"></div></div>
      
        
        
        <div class="row z-depth-5" style="background-color:#132157; width:200px;padding:5px;" >
        	<form class="col s12">
        		<div class="container ">
        			<div class="input-field">
        				<input style="color:white;" id="pass" type="text" class="validate center-align" >
        				<label class="active " for="pass" style="font-size:.70em">Enter Roll Number:</label>
        			</div>
        		</div>
        	</form>

          <!--<p align="center"style="color:rgba(255,255,255,0.7);padding:10px;font-size:15px;" >Try U14ME001 for Demo</p>-->
        </div>



      
       


		<div class="row"><div class="col m12 l12 s12 center">


		  <a class="btn-floating btn-large waves-effect z-depth-5" style="background-color:#132157"><i id="button" class="material-icons">get_app</i></a>
    </div>
</div>
<br>

<div class="row" align="center"  >
         
          <a class=" btn waves-effect waves-me z-depth-4"  style="background-color:#132157;"  href="https://script.google.com/macros/s/AKfycbyepm3EsvZQMaJJcz-mOZl0N6CuUM1WgCqKVXJCJbUM7B9yldU/exec">
             contribute papers  
            <i class=" medium material-icons right">publish</i>

            
          </a>

        </div>   

		
        <div class="parallax">
			<img class="responsive-img" src="/images/body.jpg">
		</div>
	 </div>

    
        

 
	<div style="background-color:#132157">
      <div class="row" style="color:white; margin-bottom: 0px;" align="center" >
          <div class="col m4 l4 s4 " align="center">
              <h6>
                  <a href="https://www.facebook.com/webdevlabs/" style="color:#1ABC9C" target="_new">Powered by<br><img class="waves-effect"height="85px"  src="/images/web2.png">
                  </a>
              </h6> 
          </div>
          <div class="col m4 l4 s4" style="padding-top:35px;">
              <a class=" btn waves-effect waves-me z-depth-4" id="modal" style="background-color:#1F2F6B;"  href="#openModal">FAQ</a>
          
          <!-- Modal Structure -->
                      
            <div id="openModal" class="modalDialog">
                <div>
                  <a href="#close" title="Close" class="close">X</a>
                  <div class="z-depth-3" style="background-color:#30479c">
                    <h2 style="color:#1ABC9C;font-size:40px;padding:5px;" align="center">FAQs</h2>
                  </div>
                  <div> 
                     <h3 style="color:#1ABC9C">How to contribute?</h3>
                      <p>
                         To contribute papers click on the contribute papers button.
                      </p>
                      <br>
                      <h3 style="color:#1ABC9C">
                          How to upload multiple papers?
                      </h3>
                      <p>
                          You can do this by compressing them into zip or rar format and uploading that.
                      </p>
                      <br>
                      <h3 style="color:#1ABC9C">Which Department Papers have been uploaded?</h3>
                      <p>Examination Papers for Mechanical Department from 2nd year onwards are uploaded. More Departments will be uploaded soon with your help!</p>
                      <br>
                      <h3 style="color:#1ABC9C">
                        Can we submit papers in hard copy?
                      </h3>
                       <p>
                           You can contribute papers in hard copy by submitting them to: SVNIT Alumni Association Office, Near SBI ATM, SVNIT.
                      </p>
                      <br>
                      <h3 style="color:#1ABC9C">
                      NOTE:
                      </h3>
                      <p>
                        CRs of all divisions should get in touch with the coordinators for this initiative.
                      </p>
                      <br>
                      <h3 style="color:#1ABC9C">
                        For Queries
                      </h3>
                      <p>
                        Contact Co-ordinators: <br>Noel Varghese: 9879830879<br>Jay Kachhadia: 8487011283
                      </p>
                      <br>
                      <h3 style="color:#1ABC9C">
                        *Top Contributors will be rewarded with goodies.
                      </h3>
                  </div>
                </div>
            </div>
          </div>

	 	   	  <div class="col m4 l4 s4">
            <h6 style="color:#1ABC9C" >Contact us</h6>
              <a href="mailto:mail@webdevlabs.in" style="color:#1ABC9C">
                <i class=" medium material-icons  waves-effect">email</i>
              </a>
            </h6>
          </div>
	    
	    </div>
      <div class="row">
        <div class="col m6 l6 s6" align="center">
          <a class=" btn waves-effect waves-me  z-depth-4" id="ldrbrd" style="background-color:#1F2F6B;"  href="#openModal1">  
            Leaderboard
          </a>
        

        <div id="openModal1" class="modalDialog">
          <div>
              <a href="#close" title="Close" class="close">X</a>
               <div class="z-depth-3" style="background-color:#30479c">
                <h2 class="flow-text"style="color:#1ABC9C;font-size:40px;padding:5px;" align="center">Leaderboard</h2>
               </div>
               <div class="row" style="margin-bottom:0px;">
                <div class="col m4 l4 s4"><img class="responsive-img circle" src="/images/hp.png"></div>
                <div class="col m8 l8 s8">
                  <div class="row" style="margin-bottom:0px;">
                    <div class="col m6 l6 s12 "><p class="flow-text" align="center"style="margin-top:0px;margin-bottom:0px;padding-top:5%">Himanshu Pareek</p></div>
                    <div class="col m6 l6 s12"><p class="flow-text"align="center"style="margin-top:0px;margin-bottom:0px;padding-top:5%">Int. MSc 2nd year</p></div>
                  </div>
                </div>
               </div>
               <hr>
               <div class="row" style="margin-bottom:0px;">
                <div class="col m4 l4 s4"><img class="responsive-img circle" src="/images/na.png"></div>
                <div class="col m8 l8 s8">
                  <div class="row" style="margin-bottom:0px;">
                    <div class="col m6 l6 s12 "><p class="flow-text" align="center"style="margin-top:0px;margin-bottom:0px;padding-top:5%">Nikhil Agrawal</p></div>
                    <div class="col m6 l6 s12"><p class="flow-text"align="center"style="margin-top:0px;margin-bottom:0px;padding-top:5%">Int. MSc 2nd year</p></div>
                  </div>
                </div>
               </div>
               <hr>
               <div class="row" style="margin-bottom:0px;">
                <div class="col m4 l4 s4"><img class="responsive-img circle" src="/images/sgd.png"></div>
                <div class="col m8 l8 s8">
                  <div class="row" style="margin-bottom:0px;">
                    <div class="col m6 l6 s12 "><p class="flow-text" align="center"style="margin-top:0px;margin-bottom:0px;padding-top:5%">Shilpa G Das</p></div>
                    <div class="col m6 l6 s12"><p class="flow-text"align="center"style="margin-top:0px;margin-bottom:0px;padding-top:5%">Int. MSc 4th year</p></div>
                  </div>
                </div>
               </div>
               <hr>
               <div class="row" style="margin-bottom:0px;">
                <div class="col m4 l4 s4"><img class="responsive-img circle" src="/images/pk.png"></div>
                <div class="col m8 l8 s8">
                  <div class="row" style="margin-bottom:0px;">
                    <div class="col m6 l6 s12 "><p class="flow-text" align="center"style="margin-top:0px;margin-bottom:0px;padding-top:5%">Pawan Kolhe</p></div>
                    <div class="col m6 l6 s12"><p class="flow-text"align="center"style="margin-top:0px;margin-bottom:0px;padding-top:5%">Btech Computer 2nd year</p></div>
                  </div>
                </div>
               </div>
              </div>
         
          </div>
        </div>
        <div class="col m6 l6 s6" align="center">
            <a class=" btn waves-effect waves-me z-depth-4" id="papers" style="background-color:#1F2F6B;"  href="#openModal2">Papers</a>
          
          <!-- Modal Structure -->
                      
            <div id="openModal2" class="modalDialog">
                <div>
                  <a href="#close" title="Close" class="close">X</a>
                  <div class="z-depth-3" style="background-color:#30479c">
                    <h2 style="color:#1ABC9C;font-size:40px;padding:5px;" align="center">List of Papers</h2>
                  </div>
                  <div>
                    

                    <form action="#">
                        <h2>BTech:</h2>
                          <h3 style="padding-left:30px;color:#1ABC9C">First Year</h3>
                              <p style="padding-left:50px;">
                                <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                                <label for="test7">All Subjects</label>
                              </p>
                          <br>
                          <h3 style="padding-left:30px;color:#1ABC9C">Second Year</h3>
                              <p style="padding-left:50px;">
                                <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                                <label for="test7">All Branches</label>
                              </p>
                          <br>
                          <h3 style="padding-left:30px;color:#1ABC9C">Third Year</h3>
                              <p style="padding-left:50px;">
                                <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                                <label for="test7">All Branches</label>
                              </p>
                          <br>
                          
                        <h2>MSc:</h2>
                          <h3 style="padding-left:30px;color:#1ABC9C">First Year</h3>
                              <p style="padding-left:50px;">
                                <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                                <label for="test7">All Subjects</label>
                              </p>
                          <br>
                          <h3 style="padding-left:30px;color:#1ABC9C">Second Year</h3>
                              <p style="padding-left:50px;">
                                <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                                <label for="test7">All Branches</label>
                              </p>
                          <br>
                          <h3 style="padding-left:30px;color:#1ABC9C">Third Year</h3>
                              <p style="padding-left:50px;">
                                <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                                <label for="test7">MSc Chemistry</label>
                              </p>
                              <p style="padding-left:50px;">
                                <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                                <label for="test7">Msc Maths</label>
                              </p>
                          <br>    
                          <h3 style="padding-left:30px;color:#1ABC9C">Fourth Year</h3>
                              <p style="padding-left:50px;">
                                <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                                <label for="test7">Msc Maths</label>
                              </p>
                              <p style="padding-left:50px;">
                                <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                                <label for="test7">Msc Physics</label>
                              </p>     
                    </form>
                  </div>
                </div>
            </div>

      </div>
      </div><!--coloumn end-->
      



  </div><!--row end-->


         
  
          
      </div>

 </div>
   
 	 
  
  </script>
	 
     <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/javascript/materialize.min.js"></script>

</body>

</html> 
   