<!DOCTYPE html>
<html>
<html prefix="og: http://ogp.me/ns#">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="PaperGenie is a previous year examinations paper portal exclusive to students of NIT Surat.">
  <meta property="og:title" content="PaperGenie | WebDev Labs">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://papergenie.herokuapp.com/images/fb-icon.png">
  <meta property="og:url" content="http://papergenie.herokuapp.com">
  <meta property="og:description" content="PaperGenie is a previous year examinations paper portal exclusive to students of NIT Surat.">
  <meta name="author" content="WebDev Labs, NIT Surat">
  <meta http-equiv="cache-control" content="public" />
  <meta http-equiv="expires" content="Mon, 24 August 2015, 00:00:00 GMT" />
  <meta name="keywords" content="PaperGenie, Previous Year Examination Papers, Web Portal, SVNIT, NIT Surat, WebDev Labs"/>
	<title>PaperGenie | WebDev Labs</title>
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
	<script type="text/javascript" src="/javascript/home.js"></script>
	<script type="text/javascript">
  </script>
  </head>

  <style type="text/css">

  p{
     font-size:18px;
  }

  .modalDialog {
  text-align: left;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  color:white;
  overflow: auto;
  width: 90%;
  height: 70%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #132157;
  
}

.close {
  background: #30479c;
  color: #FFFFFF;
  line-height: 25px;
  position: fixed;
  right: 2px;
  text-align: center;
  top: 0px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #1ABC9C; }
  </style>


  <body style="background-color:#132157">
     
	<div class="parallax-container">
		<div class="row"><div class="col m12 l12 s12 center" style="padding-top:20px"><img class="responsive-img"  src="/images/svnit.png"></div></div>
		<div class="row"><div class="col m12 l12 s12 center"><img class="responsive-img"  src="/images/papgenlogo.png"></div></div>
		<div class="row"><div class="col m12 l12 s12 center"><img class="responsive-img"  src="/images/info.png"></div></div>
      
        
        
        <div class="row z-depth-5" style="background-color:#132157; width:200px;padding:5px;" >
        	<form class="col s12">
        		<div class="container ">
        			<div class="input-field">
        				<input style="color:white;" id="pass" type="text" class="validate center-align" >
        				<label class="active " for="pass" style="font-size:12px">Enter Roll Number:</label>
        			</div>
        		</div>
        	</form>

          <p align="center"style="color:rgba(255,255,255,0.7);padding:10px;font-size:15px;" >Try U14ME001 for Demo</p>
        </div>



      
       <script type="text/javascript">
         $(document).ready(function(){
          $('#modal').click(function(){
            $('body').css('overflow','hidden');
           
          });
          $('.close').click(function(){
            $('body').css('overflow','scroll');
           
          });


           
          
          $('.input-field').keydown(function(event){
            if(event.keyCode == 13){
            $('#button').click();
          }
        });
          
    $('#button').click(function(){
    var x;
    x=  $('#pass').val().toLowerCase();
    console.log(x);
    var y=x.substring(1,3);
    var z=x.substring(3,5);
    var a=x.substring(0,1);
    var d=new Date();
    var n=d.getMonth();
    if(n>=6)
    {
       switch(y)
    {
      case '11':
      switch(z){
        case 'ma':
         $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));

      break;

      case 'ph':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'cy':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;
      }
      break;
      
      case '12':
      switch(z){
        case 'ma':
         $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));

      break;

      case 'ph':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'cy':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

        case 'co':
         $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'me':
        $("#button").attachEvent("onclick", window.open("https://www.dropbox.com/s/e0t5do7zfjyvol6/btechmech7.rar?dl=1"));
      break;

      case 'ce':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'ec':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'ee':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'ch':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;
      }
      break;

      case '13':
      switch(z){
        case 'ma':
         $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));

      break;

      case 'ph':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'cy':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

        case 'co':
         $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'me':
      $("#button").attachEvent("onclick", window.open("https://www.dropbox.com/s/jgu4sg66gh35az7/btechmech5.rar?dl=1"));
      break;

      case 'ce':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'ec':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'ee':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;
      
      case 'ch':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;
      }
      break;

      case '14':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));

      break;

      case 'ph':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'cy':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

        case 'co':
     $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));


      break;

      case 'me':
        $("#button").attachEvent("onClick", window.open("https://www.dropbox.com/s/ghqemt8fkj4jhii/btechmech3.rar?dl=1"));
      break;

      case 'ce':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'ec':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;

      case 'ee':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;
      
      case 'ch':
       $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
      break;
      }
      break;

      case '15':
      switch(a){
        case 'u':
         $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
        break;

        case 'i':
         $("#button").attachEvent("onClick", confirm("PaperGenie is having Past Year Examination Papers of Mechanical Department only(2nd year onwards). Please contribute for your Department."));
        break;
      }
      break;


    }; 
    }
  else
  {
     switch(y)
    {
      case '11':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onclick", window.open("https://www.facebook.com"));

      break;

      case 'ph':
      break;

      case 'cy':
      break;
      }
      break;
      
      case '12':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onclick", window.open("https://www.facebook.com"));

      break;

      case 'ph':
      break;

      case 'cy':
      break;

        case 'co':
      break;

      case 'me':
      break;

      case 'ce':
      break;

      case 'ec':
      break;

      case 'ee':
      break;

      case 'ch':
      break;
      }
      break;

      case '13':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onclick", window.open("https://www.facebook.com"));

      break;

      case 'ph':
      break;

      case 'cy':
      break;

        case 'co':
      break;

      case 'me':
      break;

      case 'ce':
      break;

      case 'ec':
      break;

      case 'ee':
      break;
      
      case 'ch':
      break;
      }
      break;

      case '14':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onclick", window.open("https://www.facebook.com"));

      break;

      case 'ph':
      break;

      case 'cy':
      break;

        case 'co':
     $("#button").attachEvent("onclick", window.open("https://www.google.com"));


      break;

      case 'me':
     
      break;

      case 'ce':
      break;

      case 'ec':
      break;

      case 'ee':
      break;
      
      case 'ch':
      break;
      }
      break;

      case '15':
      switch(a){
        case 'u':
        break;

        case 'i':
        break;
      }
      break;


    }; 
  }
  });


   
});
</script>


		<div class="row"><div class="col m12 l12 s12 center">


		  <a class="btn-floating btn-large waves-effect z-depth-5" style="background-color:#132157"><i id="button" class="material-icons">get_app</i></a>
    </div>
</div>
<br>

<div class="row" align="center"  >
         
          <a class=" btn waves-effect  z-depth-4"  style="background-color:#132157;"  href="https://script.google.com/macros/s/AKfycbyepm3EsvZQMaJJcz-mOZl0N6CuUM1WgCqKVXJCJbUM7B9yldU/exec">
             contribute papers  
            <i class=" medium material-icons right">publish</i>

            
          </a>

        </div>   

		
        <div class="parallax">
			<img class="responsive-img" src="/images/body.jpg">
		</div>
	 </div>

    
        

 
	  <div style="background-color:#132157">
	 	<div class="row" style="color:white;" align="center">
	 	   <div class="col m4 l4 s4 " align="center">
        
        <h6   ><a href="https://www.facebook.com/webdevlabs/" style="color:#1ABC9C" target="_new">Powered by<br><img class="waves-effect"height="85px"  src="/images/web2.png"></a></h6> 
      
      
      
    </div>

     <div class="col m4 l4 s4" style="padding-top:35px;">
          <a class=" btn waves-effect  z-depth-4" id="modal" style="background-color:#1F2F6B;"  href="#openModal">FAQ</a>
           <!-- Modal Structure -->
                      

<div id="openModal" class="modalDialog"  >
  <div>
    <a href="#close" title="Close" class="close">X</a>
   <div class="z-depth-3" style="background-color:#30479c"> <h2 style="color:#1ABC9C;font-size:40px;padding:5px;" align="center">FAQs</h2></div>

  <div> 
   <h3 style="color:#1ABC9C">How to contribute?</h3>
    <p>
      To contribute papers click on the contribute papers button.
       
    </p>
    <br>
    <h3 style="color:#1ABC9C">
      How to upload multiple papers?
    </h3>
    <p>
      You can do this by compressing them into zip or rar format and uploading that.
    </p>
  <br>
    <h3 style="color:#1ABC9C">Which Department Papers have been uploaded?</h3>
    <p>Examination Papers for Mechanical Department from 2nd year onwards are uploaded. More Departments will be uploaded soon with your help!</p>
    <br>
    
    
<h3 style="color:#1ABC9C">
  Can we submit papers in hard copy?
</h3>
<p>
  You can contribute papers in hard copy by submitting them to: SVNIT Alumni Association Office, Near SBI ATM, SVNIT.
  </p>
  <br>
  <h3 style="color:#1ABC9C">
    NOTE:</h3>
    <p>
      CRs of all divisions should get in touch with the coordinators for this initiative.
    </p>
    <br>
    <h3 style="color:#1ABC9C">
      For Queries
    </h3>
    <p>
      Contact Co-ordinators: <br>Noel Varghese: 9879830879<br>Jay Kachhadia: 8487011283
    </p>
<br>
    <h3 style="color:#1ABC9C">
      *Top Contributors will be rewarded with goodies.
    </h3>

 </div>

  </div>
</div>
  
   </div>

	 	   	 <div class="col m4 l4 s4"><h6 style="color:#1ABC9C" >Contact us </h6> <a href="mailto:mail@webdevlabs.in" style="color:#1ABC9C"><i class=" medium material-icons  waves-effect">email</i></a></h6></div>
	    
	    </div>
 	 </div>
 	 
  
  </script>
	 
     <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/javascript/materialize.min.js"></script>

</body>

</html> 
   